:root {
    /* Primary colors (Blue) */
    --primary: #4a90e2;
    --primary-dark: #357ab8;
    --primary-light: #6ab1f0;

    /* Secondary colors (Purple) */
    --secondary: #8e44ad;
    --secondary-dark: #7d3c98;
    --secondary-light: #a569bd;

    /* Accent colors */
    --accent: #6140ed;
    --accent-dark: #4b2bb2;
    --accent-light: #7c5cf0;

    /* Neutral colors */
    --background: #2c3e50;
    --text: #efefef;
    --muted: #95a5a6;
    
    /* Highlight color */
    --highlight: #5dade2;
}
body {
    font-family: 'roboto', 'Arial', sans-serif;
    color: var(--text);
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
}
nav {
    list-style: none;
    padding: 1%;
    margin: 0;
    background-color: #2c3e502e;
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.2);
}
.nav-list a{
    text-decoration: none;
    color: var(--text);
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 12px 16px;
    z-index: 1;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    color: var(--text);
}
.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
.dropdown a{    
    color: var(--text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #a569bd6a;}
.text {
    margin: 10%;
    margin-top: 5%;
    user-select: none;
}
.text a {
    color: #efefef9e;
    text-decoration: none;
    border-radius: 5px;
    transition: font-size 0.1s;
    user-select: none;
}
.text a:hover {
    text-decoration: underline;
    color: var(--highlight);
    font-size: 16.5px;
}
.aboutme {
    text-align: center;
}
