/* Color Palette */
:root {
    --primary-color: #3498db; /* Blue */
    --secondary-color: #2ecc71; /* Green */
    --accent-color-1: #e74c3c; /* Red */
    --accent-color-2: #f1c40f; /* Yellow */
    --accent-color-3: #9b59b6; /* Purple */
    --background-color:#2c3e50; /* Light Gray */
    --text-color: #ecf0f1; /* Dark Gray */
}

body{
    font-family: 'roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
div{
    margin: 10%;
}
h3, h1, h2{
    text-align: center;
}
a{
    color: #b5e3ee;
    transition: font-size 0.3 ease;
}
a:hover{
    font-size: 24.2px;
}