<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ninoio - About Me</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d458de1ab4.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="nav-container">
            <a href="/index.html">
                <div class="logo">ninoio</div>
            </a>
            <ul class="nav-links">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/templates/about.html">About Me</a></li>
                <li><a href="/templates/projects.html">Projects</a></li>
            </ul>
        </div>
    </nav>

    <header class="about-header">
        <h1 class="wattsigma-title">About Me</h1>
        <p class="tagline">I. Am. Cooked.</p>
    </header>

    <main>
        <section class="features">
            <div class="feature-card">
                <h3><span class="feature-icon"><i class="fa-solid fa-code"></i></span> Code Cleanness</h3>
                <p>This shit dirtier then <span style="color: rgb(93, 157, 240);">Asmongold's room</span>, ngl</p>
            </div>
            <div class="feature-card">
                <h3><span class="feature-icon"><i class="fa-solid fa-mug-saucer"></i></span> Caffeine Powered</h3>
                <p>I would <span style="font-style: italic;">never</span> consume coffee or Club Mate. <br>I only consume <span style="color: rgb(93, 157, 240);">hugs</span></p>
            </div>
            <div class="feature-card">
                <h3><span class="feature-icon"><i class="fa-solid fa-brain"></i></span> Big Brain Energy</h3>
                <p>I'm the best web-developer in the world!</p>
            </div>
            <div class="feature-card">
                <h3><span class="feature-icon"><i class="fa-solid fa-rocket"></i></span> Contact</h3>
                <p>If you have any problems with me or this Website, use this Email so I can ignore you: <a href="mailto:contact@ninoio.gay" style="color: rgb(93, 157, 240);">contact@ninoio.gay</a></p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy nino 2025. All rights reserved.</p>
    </footer>
</body>
</html>
